<div class="title">Original Transaction</div>
<div class="orignal_transaction_amount">{{ getOriginalAmount() | currency }}</div>
<div class="orignal_transaction_description"> {{ split?.bankTransaction?.description }}</div>
<div class="orignal_transaction_date"> {{ split?.bankTransaction?.transactionDate | date }}</div>
<div class="orignal_transaction_account">{{ split?.bankTransaction?.account }}</div>

<br>
<div class="title">Split Transactions</div>

<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let splitTransaction of split?.transactions; let i = index">
            <td style="width: 60%;">
                <select [(ngModel)]="splitTransaction.categoryId">
                    <option *ngFor="let category of categories" [value]="category.id"
                        [selected]="splitTransaction.categoryId == category.id">{{category.name}}</option>
                </select>
            </td>
            <td style="width: 25%;">
                <input currencyMask [readOnly]="i == 0" [(ngModel)]="splitTransaction.amount"
                    (change)="updateTotals()">
            </td>
            <td>
                <button (click)="removeTransaction(i)" *ngIf="i != 0">Delete</button>
            </td>
        </tr>
        <tr style="width: 15%;">
            <td>
                <button class="save_button" (click)="saveSplit()">Save</button>
            </td>
            <td></td>
            <td>
                <button (click)="addTransaction()">Add</button>
            </td>
        </tr>
    </tbody>
</table>
<hr>

<hr>
<pre>{{ split | json }}</pre>