div.title {
    background-color: #cccccc;
    text-align: center;
    font-size: large;
}

div.orignal_transaction_amount {
    text-align: center;
    font-size: xxx-large;
    margin: 5px;
}

div.orignal_transaction_description {
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}

div.orignal_transaction_date {
    text-align: center;
    font-size: large;
}

div.orignal_transaction_account {
    text-align: center;
    font-size: large;
}

a.plain_link {
    color: #444444;
    text-decoration: none;
}

div.selection_value {
    font-size: x-large;
}

div.split_container {
    display: flex;
}

div.split_container div {
    padding-left: 100px;
}

th {
    font-size: large;
}

td input {
    width: 90%;
    float: center;
    padding: 20px 8px;
    font-size: large;
}

td select {
    width: 100%;
    float: center;
    padding: 20px 8px;
    font-size: large;
}

td button.save_button {
    width: 100%;
    margin: 0px;
}

td button {
    width: 90%;
    padding: 20px 8px;
    margin-left: 10px;
    font-size: large;
}

.add_button {
    float: right;
    margin-left: 3px;
    margin-top: 8px;
    height: 40px;
}

