a.transaction_link {
    color: #444444;
    text-decoration: none;
}

div.transaction_block {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

div.transaction_description {
    font-size: large;
    margin-bottom: 10px;
}

div.transaction_category {
    margin-bottom: 5px;
}

div.transaction_date {
    margin-bottom: 5px;
}