<a [routerLink]="['/transactions']" [queryParams]="{needsCategorized:needsCategorized}">Back</a>

<div class="transaction_amount">{{ transaction.amount/100 | currency }}</div>
<div class="transaction_description"> {{ transaction.description }}</div>
<div class="transaction_date"> {{ transaction.date | date }}</div>
<div class="transaction_account">{{ transaction.account }}</div>

<hr>

<a class="plain_link" [routerLink]="['/transactions/'+transaction.id+'/description']" [queryParams]="{needsCategorized:needsCategorized}">
    <div class="selection_title">Description</div>
    <div class="selection_value">{{ transaction.description }}</div>
</a>

<hr>

<a class="plain_link" [routerLink]="['/transactions/'+transaction.id+'/category']" [queryParams]="{needsCategorized:needsCategorized}">
    <div class="selection_title">Category</div>
    <div class="selection_value">{{ transaction.category }}</div>
</a>

<hr>

<a class="plain_link" [routerLink]="['/transactions/'+transaction.id+'/tags']" [queryParams]="{needsCategorized:needsCategorized}">
    <div class="selection_title">Tags</div>
    <div class="selection_value"> {{ transaction.tags }}</div>
</a>

<hr>

<a class="plain_link " [routerLink]="['/transactions/'+transaction.id+'/notes']" [queryParams]="{needsCategorized:needsCategorized}">
    <div class="selection_title">Notes</div>
    <div class="selection_value">{{ transaction.notes }}</div>
</a>

<hr>