<a [routerLink]="['/transactions']" [queryParams]="{needsCategorized:needsCategorized}">Back</a>

<div class="transaction_amount">{{ transaction.amount/100 | currency }}</div>
<div class="transaction_description"> {{ transaction.description }}</div>
<div class="transaction_date"> {{ transaction.transactionDate | date }}</div>
<div class="transaction_account">{{ transaction.account }}</div>

<hr>

<div (click)="onClickDescription()">
    <div class="selection_title">Description</div>
    <div class="selection_value" *ngIf="!editingDescription">{{ transaction.description }}</div>
    <app-transaction-description *ngIf="editingDescription" (saved)="onSavedDescription()"/>
  </div>

<hr>

<a class="plain_link" [routerLink]="['/transactions/'+transaction.id+'/category']" [queryParams]="{needsCategorized:needsCategorized}">
    <div class="selection_title">Category</div>
    <div class="selection_value">{{ transaction.category ? transaction.category.name: "Select Category" }}</div>
</a>

<hr>

<a class="plain_link" [routerLink]="['/transactions/'+transaction.id+'/tags']" [queryParams]="{needsCategorized:needsCategorized}">
    <div class="selection_title">Tags</div>
    <div class="selection_value"> {{ transaction.tags || "Add Tags" }}</div>
</a>

<hr>

<a class="plain_link " [routerLink]="['/transactions/'+transaction.id+'/notes']" [queryParams]="{needsCategorized:needsCategorized}">
    <div class="selection_title">Notes</div>
    <div class="selection_value">{{ transaction.notes || "Add Notes" }}</div>
</a>

<hr>
